:root{
    --my_green: #C0E0D7;
    --my_pink: #FFD1DC;
    --my_white: #FFFFFF;
    --semitransparent_pink: rgba(255, 209, 220, 0.75);
    --semitransparent_white: rgba(255, 255, 255, 0.75);
    --text_box_height: 3rem;
    --header_text_size: 4rem;
    --subtitle_texte_size: 3rem;
    --input_text_size: 2rem;
    --link_text_size: 1rem;
    --info_size: 2rem;

    --square_size: 10rem;

    --image_size: 30rem;

    background-color: var(--my_green);
}

.center{
    display: flex;
    justify-content: center;
}

.margin{
    margin: 2rem auto;
}

.margin-top{
    margin: 2rem 0 0 0;
}

.margin_left{
    margin: auto auto auto 1rem;
}

.centralize{
    display: block;
    margin: auto 0;
}

a.not_decorated{
    text-decoration: none;
    color: inherit;
}

.grid_7_3{
    display: grid;
    grid-template-columns: 7fr 3fr;
    gap: 1rem;
}

.grid_2_8{
    display: grid;
    grid-template-columns: 2fr 8fr;
    gap: 1rem;
}

.full_width{
    width: 100%;
}

.pink_panel{
    background-color: var(--semitransparent_pink);
}

.width_90_pc{
    width: 90%;

}

.large_pink_panel{
    width: 100%;
    background-color: var(--semitransparent_pink);
}

.white_panel{
    width: 100%;
    background-color: var(--semitransparent_white);
}

.solid_white_panel{
    width: 100%;
    background-color: var(--my_white);
}

.white_square{
    background-color: var(--my_white);
    height: var(--square_size);
    width: var(--square_size);
}

.white{
    background-color: var(--my_white);
}

.green{
    background-color: var(--my_green);
}

.icon_square{
    height: var(--header_text_size);
    width: var(--header_text_size);
}

.image_square{
    height: var(--image_size);
    width: var(--image_size);
}

.my_input{
    border: none;
    width: 100%;
    height: var(--text_box_height);
    margin: 1rem 0;
    font-size: var(--input_text_size);
}
.my_input::placeholder{
    font-size: var(--input_text_size);
}

.info_size{
    font-size: var(--info_size);
}

.my_button{
    width: 40%;
    height: var(--text_box_height);
    border: none;
    font-size: var(--input_text_size);
}

h1{
    font-size: var(--header_text_size);
    font-weight: normal;
}

h2{
    font-size: var(--subtitle_texte_size);
    font-weight: normal;
}

p{
    font-size: var(--info_size);
}

.resize{
    width: 70%;
}

nav ul li{
    list-style-type: none;
    display: inline-block;
    margin-right: 2rem;
    font-size: var(--header_text_size);
}

li.not_styled{
    list-style-type: none;
}

a.link_sized{
    font-size: var(--link_text_size);
}

.space_between{
    display: flex;
    justify-content: space-between;
}

.pink_background{
    background-color: var(--my_pink);
}

.padding{
    padding: 1rem 1rem;
}
.lateral_margin{
    margin: auto 1rem;
}

.horizontal_margin{
    margin: 1rem auto;
}

.flex{
    display: flex;
}

.adjust_text_size{
    font-size: var(--input_text_size);
}

.inline{
    display: inline;
}

.nomargin{
    margin: 0;
}